.home_page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header_frame {
  position: relative;
  /* width: 100%; */
  /* height: 100px; */

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.container .header_content {
  margin-top: 20px;
  padding-left: 60px;
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  background-image: url("https://aws-obg-image-lb-3.tcl.com/content/dam/brandsite/it-resources/dic-website/en/award/award_details/2022/tcl-full-set-aixiot-home-appliances-c12-series-promotion/1.jpg");
  /* background-image: url("https://media.istockphoto.com/id/1396678552/ko/%EB%B2%A1%ED%84%B0/%EC%A0%84%EC%9E%90-%ED%9A%8C%EB%A1%9C-%EA%B0%9C%EB%85%90%EC%9D%98-%ED%94%84%EB%A0%88%EC%9E%84-%EB%B0%B0%EA%B2%BD.jpg?s=1024x1024&w=is&k=20&c=Bt2pPmkSqYCkCBzFTS3Vj_U9p8FYc08GWHJ4492fuak="); */
  /* background-repeat: no-repeat; */
  background-size: contain;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.header_content span {
  margin-top: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  color: #041e42;
}

.header_content strong {
  margin-top: 10px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  font-size: 50px;
  line-height: 28px;
  color: #041e42;

  letter-spacing: 4px;
}

.header_content p {
  margin-top: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #041e42;
}

.header_content a {
  width: 120px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #2f58aa;
  border-radius: 5px;
  color: #fff;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.header_content a:hover {
  width: 123px;
  height: 53px;
}
/* SERVICE */
.selling_products_frame {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.selling_products_frame .container {
  flex-direction: column;
}

.container .top_category_frame {
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid #dbd9d9;
}

.top_category_frame span {
  margin-bottom: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #041e42;

  text-transform: capitalize;
}

.top_category_frame .view_all {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  color: #041e42;

  text-transform: capitalize;
  cursor: pointer;
}

.top_category_frame .view_all:hover {
  border-bottom: 2px solid #041e42;
}

/*  */

.prodact_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
}

.prodact_wrapper .container {
  flex-direction: column;
}

.container .product_boxes {
  margin-right: 15px;
  width: 320px;
  height: 430px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
}

.product_boxes .prodact_img_box {
  width: 320px;
  height: 300px;

  background: blue;
}

.product_boxes .prodact_content_box {
  margin-top: 10px;
  width: 300px;
  height: 100px;
}

.prodact_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.prodact_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prodact_content_box a > span {
  height: 56px;
  margin-top: 15px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  overflow: hidden;
  color: #063578;

  cursor: pointer;
}

.prodact_content_box .price_box {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.price_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #041e42;
}

.price_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #626974;

  text-decoration: line-through;
}

.review_box .span {
  margin-left: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #626974;
}

/* SERVICE FRAME */

.service_frame {
  margin-top: 50px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.container .service_boxes {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
}

.service_boxes .service_box {
  width: 264px;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;

  border-right: 1px solid #dbd9d9;
}

.service_box .service_icon_box {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 28px;
  overflow: hidden;
  color: #063578;
}

.service_box .sevice_content_box {
  display: flex;
  flex-direction: column;
}

.sevice_content_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #03152e;
  text-transform: capitalize;
}

.sevice_content_box p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  text-transform: capitalize;
  color: #626974;
}

/* BIG SALE PRODUCT FRAME */

.big_sale_product_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.big_sale_product_frame .container {
  flex-direction: row;
}

.container .big_sale_product_frame_boxes {
  margin-top: 50px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;

  /* background: #f4f4f4; */
}

.big_sale_product_frame_boxes .big_sale_product_frame_box {
  width: 650px;
  height: 250px;

  display: flex;
  flex-direction: row;

  background: url("https://www.kitchenaid.com/is/image/content/dam/business-unit/kitchenaid/en-us/marketing-content/site-assets/page-content/pinch-of-help/how-appliances-can-improve-home-value/how-appliances-can-improve-home-value_Masthead2.png?fit=constrain&fmt=jpg&wid=2875");
  background-repeat: no-repeat;
  background-size: cover;
}

.big_sale_product_frame_box .big_sale_product_content_box {
  margin-left: 15%;
  width: 350px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sale_icon_box img {
  width: 100px;
  height: 110px;
  position: absolute;
  left: 9px;
  top: 45px;
}

.big_sale_product_content_box strong {
  width: 290px;

  display: flex;
  flex-direction: column;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffffff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.big_sale_product_content_box p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-transform: capitalize;
  color: #eeeff0;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.big_sale_product_content_box a {
  width: 150px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Jost";
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  line-height: 100px;
  text-transform: uppercase;
  color: #03152e;
  background: #f4f4f4;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.big_sale_product_content_box a:hover {
  width: 153px;
  height: 53px;
}

.big_sale_product_frame_boxes .big_sale_product_frame_box_2 {
  position: relative;
  width: 650px;
  height: 250px;

  display: flex;
  flex-direction: row;

  /* background-color: #f4f4f4; */
  background-image: url("https://www.kitchenaid.com/is/image/content/dam/business-unit/kitchenaid/en-us/marketing-content/site-assets/page-content/pinch-of-help/kitchen-appliance-trends-2022/Kitchen-Appliance-Trends-2022_Masthead.png?fit=constrain&fmt=jpg&wid=2875");
  background-repeat: no-repeat;
  background-size: cover;
}

.big_sale_product_frame_box_2 .big_sale_product_content_box {
  margin: 60px 5px 0 45%;
}

.big_sale_product_frame_box_2 .sale_icon_box img {
  position: absolute;
  left: 81%;
  top: 1px;
}

/* top_category_of_the_month_frame */

.top_category_of_the_month_frame {
  position: relative;
  width: 100%;
  height: 1000px;

  display: flex;
  justify-content: center;
}

.top_category_of_the_month_frame .container {
  flex-direction: column;
}

.top_category_of_the_month_frame .top_category_frame {
  border-bottom: 0px;
  font-size: 40px;
  font-weight: 550;
}

.top_category_of_the_month_frame .product_wrapper_boxes {
  margin-top: 15px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
}

.top_category_of_the_month_frame .product_wrapper_boxes .product_wrapper_box {
  width: 190px;
  height: 210px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
}

.product_wrapper_box .top_category_img {
  margin-left: 8px;
  width: 150px;
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product_wrapper_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #03152e;
  text-transform: capitalize;
  letter-spacing: 1px;
}
